.menu
  //- .menu__panel
  //-   h3.menu__title Info
  //-   ul.menu__list
  //-     li
  //-       a(href=`${baseUrl}`) Home
  //-     li
  //-       a(href=`${baseUrl}about`) About
  //-     li
  //-       a(href=`${baseUrl}contact`) Contact

  //- .menu__panel
  //-   h3.menu__title Categories
  //-   ul.menu__list
  //-     li
  //-       a(href=`${baseUrl}html`) HTML
  //-     li
  //-       a(href=`${baseUrl}css`) CSS3
  .menu__panel
    h3.menu__title Info
    ul.menu__list
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/contact") Contact

  .menu__panel
    h3.menu__title Categories
    ul.menu__list
      li
        a(href="/html") HTML
      li
        a(href="/css") CSS3 